.navbar-button {
  margin: 0 10px; 
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  background-color: #555; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #777; 
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #343a40;
}

.pagebody {
  padding: 1em;
  justify-content: center;
}