* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Use a commonly available font */
  background-color: hsl(210, 17%, 98%); /* Light gray background */
  color: #333; /* Dark gray text color */
  text-justify: center;

}

h1 {
  margin-top: 0;
  font-size: 22px;
  align-content: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;

}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

.test{
  margin: 10%;
}
p {
  max-width: 650px;
  line-height:  1.5;
}

.center-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  flex-direction: column;
}